<%- include('includes/header.ejs') %>
    <%- include('includes/navigation.ejs') %>
    <main>
        <p>Oh lummie</p>
        <p>404 Page not found. Back to the <a href="/">home page?</a></p>
    </main>
<%- include('includes/footer.ejs') %>