    <main>
        <form class="product-form" action="/admin/add-product" method="post">
            <div class="form-control">
                <label for="title">Title</label>
                <input id="title" type="text" name="title">
            </div>
            <button type="submit">Add product</button>
        </form>
    </main>